
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World (from the view)
        <p>
            Csináljunk egy nagyszerű partyt!
        </p>
        <a asp-action="InviteForm">
            Tovább az adatokhoz</a>
    </div>
</body>
</html>
